@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    @apply rounded-md pl-2
    
}

textarea:focus,
input:focus {
  outline: none;
}


.buttons{
@apply bg-black text-white rounded-md p-2 mt-4 w-[100px] hover:bg-white border-black border-2 hover:text-black duration-300
}

.small-button{
      @apply bg-black text-white rounded-md p-1 w-[120px] hover:bg-white border-black border-2 hover:text-black duration-300
  
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}